header{
    text-align: center;
    margin: 30px 0;
    padding: 20px 10px;

    h1{
        padding: 20px;
    }

    .toggle{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 40px;
        color: $neutral2;

        p{
            @include responsive(tab-port){
                margin: 0 20px;
            }
            @include responsive(tab-land){
                margin: 0 30px;
            } 
        }

        @include responsive(tab-land){
            margin: 10px 100px;
        }

        .switch{
            position: relative;
            display: inline-block;
            width: 70px;
            height: 40px;
            margin: 0 10px;
            .slider{
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $gradient;
                border-radius: 30px;
                &::before{
                    position: absolute;
                    content: "";
                    height: 30px;
                    width: 30px;
                    left: 5px;
                    top: 5px;
                    background-color: white;
                    transition: 0.4s;
                    border-radius: 50px;
                }
            }
            input{
                display: none;
                &:checked + .slider{
                    background: $neutral2;
                }
                &:checked + .slider:before{
                    transform: translateX(30px);
                }
            }
        }
    }
}

.grid{
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @include responsive(tab-land){
        gap: 0;
    }

    @include responsive(big-desktop){
        gap: 0;
    }
}

.promo{
    place-items: center;
    padding: 20px;

    h4{
        text-align: center;
        padding-bottom: 20px;
    }

    p{
        border-bottom: 1px solid $neutral2;
        text-align: center;
        padding: 30px 0;
    }

    .month, .annual{
        text-align: center;
        font-size: 3rem;
        padding-bottom: 10px;
        
        &::before{
            content: "$";
            font-size: 1.5rem;
            vertical-align: middle;
            margin: 5px;

            @include responsive(tab-land){
                font-size: 2rem;
                margin: 10px;
            }
        }
    }

    .inactive{
        display: none;
    }
    
    .card{
        display: flex;
        flex-direction: column;
        padding: 50px 50px 10px 50px;
        border-radius: 15px;
        width: 100%;
        max-width: 40rem;
        box-shadow: 0 4rem 2.4rem rgba($neutral3, 0.1);

        @include responsive(tab-port){
            width: 30rem;
        }
    }

    .basic{
        grid-column: 1/5;
        background: $light;
        // place-self: center center; //shorthand for align-self and justify-self

        @include responsive(tab-land){
            grid-column: 1;
            width: 100%;
            padding: 3vw;
        }
    }

    .pro{
        grid-column: 1/5;
        justify-content: center;
        background: $gradient;
        color: $neutral;
        
        
        @include responsive(tab-land){
            grid-column: 2;
            width: 100%;
            z-index: 1;
            padding-top: 5.5rem;
            padding-bottom: 5rem;
        }

        p{
            border-bottom: 1px solid $neutral;
        }  
        
        button{
            background: $neutral;
            color: $neutral3;

            &:hover{
                background: $gradient;
                color: $neutral;
                border: 1px solid $neutral;
            }
        }
    }

    .master{
        grid-column: 1/5;
        background: $light;

        @include responsive(tab-land){
            grid-column: 3;
            width: 100%;
            padding: 3vw;
        }
    }
}

footer{
    margin: 30px;
    text-align: center;   
}