@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$font: 'Montserrat', sans-serif;

$gradient: Linear-Gradient( 125deg,hsl(236, 72%, 79%),hsl(237, 63%, 64%));

$neutral: hsl(240, 78%, 98%);
$neutral2: hsl(234, 14%, 74%);
$neutral3: hsl(233, 13%, 49%);
$neutral4: hsl(232, 13%, 33%);