@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/images/bg-top.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top right;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #6d708d;
  overflow-x: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 620px) {
  body {
    background-image: url("/images/bg-bottom.svg"), url("/images/bg-top.svg");
    background-position: bottom left, top right;
    background-size: 20%, 30%;
    width: 100%;
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: #696fdd;
}

button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  background: Linear-Gradient(125deg, #a3a8f0, #696fdd);
  margin: 40px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

button:hover {
  background: #f6f6fe;
  color: #6d708d;
  border: 1px solid #6d708d;
}

header {
  text-align: center;
  margin: 30px 0;
  padding: 20px 10px;
}

header h1 {
  padding: 20px;
}

header .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #b3b5c6;
}

@media only screen and (min-width: 620px) {
  header .toggle {
    margin: 10px 210px;
  }
}

@media only screen and (min-width: 920px) {
  header .toggle {
    margin: 10px 350px;
  }
}

header .toggle .switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 40px;
  margin: 0 10px;
}

header .toggle .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: Linear-Gradient(125deg, #a3a8f0, #696fdd);
  border-radius: 30px;
}

header .toggle .switch .slider::before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 5px;
  top: 5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

header .toggle .switch input {
  display: none;
}

header .toggle .switch input:checked + .slider {
  background: #b3b5c6;
}

header .toggle .switch input:checked + .slider:before {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  place-items: center;
}

.promo {
  place-items: center;
}

@media only screen and (min-width: 920px) {
  .promo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.promo h4 {
  text-align: center;
  padding-bottom: 20px;
}

.promo p {
  border-bottom: 1px solid #b3b5c6;
  text-align: center;
  padding: 30px 0;
}

.promo .month, .promo .annual {
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

@media only screen and (min-width: 920px) {
  .promo .month, .promo .annual {
    font-size: 3.5rem;
  }
}

.promo .month::before, .promo .annual::before {
  content: "$";
  font-size: 1.5rem;
  vertical-align: middle;
  margin: 5px;
}

@media only screen and (min-width: 920px) {
  .promo .month::before, .promo .annual::before {
    font-size: 2rem;
    margin: 10px;
  }
}

.promo .inactive {
  display: none;
}

.promo .basic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 50px 10px 50px;
  background: #f6f6fe;
  border-radius: 20px;
  width: 80%;
  place-self: center center;
}

@media only screen and (min-width: 1200px) {
  .promo .basic {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 30vw;
  }
}

@media only screen and (min-width: 620px) {
  .promo .basic {
    width: 70%;
  }
}

@media only screen and (min-width: 920px) {
  .promo .basic {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    width: 30vw;
  }
}

.promo .pro {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  padding: 50px 50px 10px 50px;
  background: Linear-Gradient(125deg, #a3a8f0, #696fdd);
  border-radius: 20px;
  width: 80%;
  color: #f6f6fe;
}

@media only screen and (min-width: 1200px) {
  .promo .pro {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    width: 30vw;
    height: 700px;
    z-index: 1;
  }
}

@media only screen and (min-width: 620px) {
  .promo .pro {
    width: 70%;
  }
}

@media only screen and (min-width: 920px) {
  .promo .pro {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    width: 30vw;
    height: 700px;
    z-index: 1;
  }
}

.promo .pro p {
  border-bottom: 1px solid #f6f6fe;
}

.promo .pro button {
  background: #f6f6fe;
  color: #6d708d;
}

.promo .pro button:hover {
  background: Linear-Gradient(125deg, #a3a8f0, #696fdd);
  color: #f6f6fe;
  border: 1px solid #f6f6fe;
}

.promo .master {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  padding: 50px 50px 10px 50px;
  background: #f6f6fe;
  border-radius: 20px;
  width: 80%;
}

@media only screen and (min-width: 1200px) {
  .promo .master {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    width: 30vw;
  }
}

@media only screen and (min-width: 620px) {
  .promo .master {
    width: 70%;
  }
}

@media only screen and (min-width: 920px) {
  .promo .master {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    width: 30vw;
  }
}

footer {
  margin: 30px;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */